  <div class="hgroup">
  <h1>Material Design Form</h1>
  <h3>By Josh Adamous</h3>
</div>
<form>
  <div class="group">
    <input type="text" (blur)="onBlur($event)" ><span class="highlight"></span><span class="bar"></span>
    <label>Name</label>
  </div>
  <div class="group">
    <input type="email" (blur)="onBlur($event)" ><span class="highlight"></span><span class="bar"></span>
    <label>Email</label>
  </div>
  <button type="button" md-ripple class="button buttonBlue loginButton" mdRippleColor="rgba(255, 255, 255, 0.25)" >Subscribe
  </button>
</form>
<footer><a href="http://www.polymer-project.org/" target="_blank"><img src="https://www.polymer-project.org/images/logos/p-logo.svg"></a>
  <p>You Gotta Love <a href="http://www.polymer-project.org/" target="_blank">Google</a></p>
</footer>

